<h1 class="page-header">Update Your Profile</h1>

<section class="widget">
    <div class="page-body">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
        <fieldset>
          <p>To update your profile, please enter your current password.</p>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <%= f.password_field :current_password, :placeholder => "Current Password", :class => "form-control" %>
          </div>

          <p>Update your Email</p>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <%= f.email_field :email, :autofocus => true, :placeholder => "E-mail", :class => "form-control" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <p>Name</p>
          <div class="form-group">
            <%= f.text_field :first_name, :autofocus => true, :placeholder => "First Name", :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :last_name, :autofocus => true, :placeholder => "Last Name", :class => "form-control" %>
          </div>                

          <p>New Password</p>                                      
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <%= f.password_field :password_confirmation, :placeholder => "Password", :class => "form-control" %>
          </div>


          <div class="form-group">
            <%= f.submit "Update" , class:"btn btn-primary" %> 
            <%= link_to "Back", :back, class:"btn btn btn-default" %>
          </div>

        </fieldset>
        <% end %>
      </form>
  </div>

</section>


