<section class="widget">
<div class = "panel-heading"><i class = "fa fa-bell fa-fw"></i> Notifications</div>
<div class = "panel-body">
    <div id="notifications" class = "list-group">

        <% @activities.each do |activity| %>
         <%if @count < 20%>
            <% if activity.trackable_type == "Idea"%> 
                <% @sub_ideas.each do |sub_idea| %>
                    <% if activity.trackable_id == sub_idea.idea_id%>
                        <div class = "list-group-item">
                            <%= render_activity activity%>
                            <span class = "pull-right text-muted small"> 
                                <abbr title="<%= activity.created_at.in_time_zone('Pacific Time (US & Canada)').to_s(:long) %>" ><%= time_ago_in_words(activity.created_at) %> ago</abbr>
                            </span>
                        </div>
                        <% @count += 1%>
                    <% end %>
                <% end %>  
            <% end %>

            <% if activity.trackable_type == "Commontator::Comment"%> 
                <% @comment_ids.each do |comment_id| %>
                    <% if activity.trackable_id == comment_id.id%>
                        <div class = "list-group-item">
                            <i class = "fa fa-comment fa-fw"> </i>
                            <%= activity.owner if activity.owner%>

                            commented   

                            <% if activity.trackable%>
                               <a href = "/ideas/<%= Commontator::Thread.find_by_id(comment_id.thread_id).commontable_id%>"><%= activity.trackable.body%></a>
                            <% else %>
                               which has been removed!!
                            <% end %>
                            <span class = "pull-right text-muted small"> 
                                <abbr title="<%= activity.created_at.in_time_zone('Pacific Time (US & Canada)').to_s(:long) %>" ><%= time_ago_in_words(activity.created_at) %> ago</abbr>
                            </span>
                        </div>
                      <% @count += 1%>
                    <% end %>
                <% end %> 
            <% end %> 
         <% end %>   
        <% end %>      
      </div>
</div>
</section>