<div id="page-wrapper">
  <h2>Dashboard</h2>

  <%= link_to("Submit a New Idea", {:controller => 'ideas', :action => 'new'}, :class => 'action new') %>
<br><br>
  <table class="table" summary="Recent Ideas">
    <%= render "ideas/idea" %>
  </table>
<br><br>
  <table class="table" summary="My Idea">
    <tr class="header">

      <th>My Idea</th>
      <th><p class="text-right">Actions</p></th>
    </tr>
    <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.summary %></td>
      <td class="actions">
        <p class="text-right">
        <%= link_to("Show", {:action => 'show', :id => idea.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => idea.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => idea.id}, :class => 'action delete') %>
        </p>
      </td>
    </tr>
    <% end %>
  </table>
<br><br>
  <table class="table" summary="Subscription list">
    <tr class="header">

      <th>My Subscriptions</th>
      <th><p class="text-right">Actions</p></th>
    </tr>
    <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.summary %></td>
      <td class="actions">
        <p class="text-right">
        <%= link_to("Show", {:action => 'show', :id => idea.id}, :class => 'action show') %>
      </p>
      </td>
    </tr>
    <% end %>
  </table>
<br><br>
  Notifications
</div>