<div id="page-wrapper">
  <div class="row">
  <h1 class="page-header">Dashboard</h2>

<div class="table">
  <h4>Recent Ideas (Latest 5 Ideas)</h4>
  <table class="table" summary="Recent Ideas">
    <%= render "ideas/idea" %>
  </table>
</div>
<br><br>
  <table class="table" summary="My Idea">
    <tr class="header">

      <th>My Idea</th>
      <th><p class="text-right">Actions</p></th>
    </tr>
    <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.summary %></td>
      <td class="actions">
        <p class="text-right">
        <%= link_to("Show", {:action => 'show', :id => idea.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => idea.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => idea.id}, :class => 'action delete') %>
        </p>
      </td>
    </tr>
    <% end %>
  </table>
<br><br>
  <table class="table" summary="Subscription list">
    <tr class="header">

      <th>My Subscriptions</th>
      <th><p class="text-right">Actions</p></th>
    </tr>
    <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.summary %></td>
      <td class="actions">
        <p class="text-right">
        <%= link_to("Show", {:action => 'show', :id => idea.id}, :class => 'action show') %>
      </p>
      </td>
    </tr>
    <% end %>
  </table>
<br><br>
<div class = "col-lg-4">
  <div class = "chat-panel panel panel-default">
     <div class = "panel-heading">
         <i class = "fa fa-bell fa-fw"></i>
         "Notification"
     </div>
       <div class = "panel-body">
         <div class = "list-group">

           <% @activities.each do |activity| %>
           <% @sub_ideas.each do |sub_idea| %>
            <% if activity.trackable.id == sub_idea.idea_id%>
             <a href = "/ideas/<%= activity.trackable.id%>" class = "list-group-item">
             <!-- <div class="activity"> -->
              <%= render_activity activity%>
              <span class = "text-muted small">
              <em> <%= activity.created_at%> </em>
            </span>
            <% end %>
             </a>
             <!-- </div> -->
           <% end %> 
           <% end %>

      
      
         </div>
      </div>
  </div>
</div> 
</div>
</div>