<h1 class="page-header">Dashboard</h1>
    <div class="row">
        <div class = "col-lg-6">
            <section class="widget">
                <div class = "panel-heading">
                    <i class = "fa fa-bar-chart-o fa-fw"></i> "Idea Statistics"
                </div>
                <div class = "panel-body">
				<div id="chart_div"></div>
                </div>
            </section>
        </div>
        <div class = "col-lg-6">
            <section class="widget">
                <%= render 'notification' %>
            </section>
        </div>
        <div class="col-lg-12">
            <section class="widget">
                <div class="panel-heading">Recent Ideas (Latest 5 Ideas)</div>
                <div class="panel-body">
                    <table class="table table-hover" summary="Recent Ideas">
                    <%= render "ideas/recent_idea" %>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-lg-12">
            <section class="widget">
                <div class="panel-heading">My Ideas</div>
                <div class="panel-body">  
                    <table class="table table-hover">
                    <%= render "ideas/my_idea" %>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-lg-12">
            <section class="widget">
                <div class="panel-heading">My Subscriptions</div>
                <div class="panel-body">
                <table class="table table-hover">
                <%= render "ideas/subscribed_idea" %>
                </table>
                </div>
            </section>
        </div>
</div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			['Date', 'ideas'],
		<% @ideas_group_by_week.each do |group| %>
          <% week = group[0].to_s.split(" ").at(0) %>
		  <% x_label = "week of "+ week.split("-").at(1) + "-" + week.split("-").at(2) %>
          ["<%= x_label %>",  <%= group[1].size %>],
		<% end %>
        ]);
		
        var options = {
          title: 'New Ideas in the past 30 days aggregated by week'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
