<div id="page-wrapper">
  <h2>Users</h2>
<!-- 
  <%= link_to("Add New User", {:action => 'new'}, :class => 'action new') %>
 -->
  <table class="table" summary="User list">
    <tr class="header">
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Remove</th>
    </tr>
    <% if @users %>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name + " " + user.last_name %></td>
      <td><%= user.email %></td>
      <td><% if user.admin? %>
        <i class=""></i>
        <%= link_to '<i class="fa fa-check"></i>'.html_safe, {:controller => "users", :action => "update_admin", :id => user.id} %>
        <% else %>
        <%= link_to '<i class="fa fa-times"></i>'.html_safe, {:controller => "users", :action => "update_admin", :id => user.id} %>
        <% end %>
      </td>
      <td class="actions">
        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, user, method: :delete, data: {confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>