<h1 class="page-header">Users <small>fellow coworkers</small></h1>
<h5 class="widget">
  <%= link_to '<i class="fa fa-cog"></i> Change Sign Up Settings'.html_safe, '/settings/1/edit'.html_safe %>
</h5>

<section class="widget">
  <div class="panel-heading"><i class="fa fa-bars"></i> List of Users</div>

  <div class="panel-body">
   <div class="table">
    <table class="table table-hover dataTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th class="no-sort">Admin</th>
          <th class="no-sort">Remove</th>
        </tr>
      </thead>
    </tbody>
    <% if @users %>
    <% @users.each do |user| %>
    <tr>
      <td><%= user %></td>
      <td><%= user.email %></td>
      <td><% if user.admin? %>
        <% if user == self.current_user %>
        <i class="fa fa-check"></i>
        <% else %>
        <%= link_to '<i class="fa fa-check"></i>'.html_safe, {:controller => "users", :action => "update_admin", :id => user.id, :t => Time.now.to_i}, data: {confirm: 'Change staff to regular user?' } %>
        <% end %>
        <% else %>
        <%= link_to '<i class="fa fa-times"></i>'.html_safe, {:controller => "users", :action => "update_admin", :id => user.id, :t => Time.now.to_i}, data: {confirm: 'Change staff to admin?' } %>
        <% end %>
      </td>
      <td class="actions">
        <% if user == self.current_user %>
          <i class="fa fa-trash-o"></i>
        <% else %>
          <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, {:controller => "users", :action => "delete", :id => user.id, :t => Time.now.to_i}, data: {confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
</section>