<div class="form-group">
  <%= label_tag :partner_name, "Partner Name" %><br>
  <%= text_field :"partner[#{0}]", :partner_name, :class => 'form-control' %>
</div>
<div class="row">
  <div class="col-md-3">
    <h4>Primary Contact</h4>
    <div class="form-group">
      <%= f.label :contact_name %><br>
      <%= f.text_field :"partner[#{0}]", :contact_name, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.email_field :"partner[#{0}]", :email, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone_num %><br>
      <%= f.phone_field :"partner[#{0}]", :phone_num, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-3">
    <h4>Secondary Contact</h4>
    <div class="form-group">
      <%= f.label :contact_name %><br>
      <%= f.text_field :"partner[#{0}]", :secondary_contact_name, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.text_field :"partner[#{0}]", :secondary_email, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone_num %><br>
      <%= f.text_field :"partner[#{0}]", :secondary_phone_num, :class => 'form-control' %>
    </div>
  </div>
</div>
<% end %>
