<div id="page-wrapper">
  <div class="row">
<h1 class="page-header">Listing partners</h1>

<h5><%= link_to 'Create a New Partner', new_partner_path %></h5>

<table class="table">
  <thead>
    <tr>
      <th>Partner name</th>
      <th>Contact name</th>
      <th>Email</th>
      <th>Phone num</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.partner_name %></td>
        <td><%= partner.contact_name %></td>
        <td><%= partner.email %></td>
        <td><%= partner.phone_num %></td>
        <td><%= link_to '<i class="fa fa-search"></i>'.html_safe, partner, title: 'Show', ref: 'tooltip' %></td>
		<td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_partner_path(partner), title: 'Edit', ref: 'tooltip' %></td>
		<td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, partner, title: 'Delete', ref: 'tooltip', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>