<div id="page-wrapper">
<h1>Listing partners</h1>

<table class="table">
  <thead>
    <tr>
      <th>Partner name</th>
      <th>Contact name</th>
      <th>Email</th>
      <th>Phone num</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.partner_name %></td>
        <td><%= partner.contact_name %></td>
        <td><%= partner.email %></td>
        <td><%= partner.phone_num %></td>
        <td><%= link_to 'Show', partner %></td>
		<td><%= link_to 'Edit', edit_partner_path(partner) %></td>
		<td><%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner', new_partner_path %>
</div>