<p id="notice"><%= notice %></p>

<p>
  <strong>Partner name:</strong>
  <%= @partner.partner_name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @partner.contact_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @partner.email %>
</p>

<p>
  <strong>Phone num:</strong>
  <%= @partner.phone_num %>
</p>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
