

<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <!-- <div class="field"> -->
    <!-- <%= f.label :provider_partner_id %><br> -->
    <!-- <%= f.number_field :provider_partner_id %> -->
  <!-- </div> -->

  <%= fields_for(@partner) do |p| %>
  <div class="form-group">
    <%= p.label :provider_partner_id %><br>
    <%= select_tag 'provider_partner_id', options_from_collection_for_select(Partner.all, :id, :partner_name, 2) %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :receiver_partner_id %><br>
    <%= f.number_field :receiver_partner_id %>
  </div>


  <div class="field">
    <%= f.label :keyword_list, "Keywords (separated by commas)" %><br />
     <%= f.text_field :keyword_list %>

  <div>
    <%= render :partial => "category_utils/category_form", :locals => {:idea_id => @idea.id, :categories => @categories} %> <!-- TODO: this needs to be joined better with the way idea is created -->

  </div>
  <div class="field">
    <%= f.label :submission_date %><br>
    <%= f.date_select :submission_date %>
  </div>
  <div class="field">
    <%= f.label :last_modified %><br>
    <%= f.date_select :last_modified %>
  </div>
  <div class="field">
    <%= f.label :status_date_change %><br>
    <%= f.date_select :status_date_change %>
  </div>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, options_from_collection_for_select(Status.all, :id, :status)) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
$('#idea_keyword_list').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
        return {
            value: input,
            text: input
        }
    }
});
</script>
