<!-- <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Form Elements
            </div>
            <div class="panel-body"> -->
              <form role="form">
                <div class="row">
                    <div class="col-lg-6">
                      <!-- Information Panel -->
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          Idea Originator
                        </div>
                        <div class="panel-body">
<!--                           <div class="form-group btn-group" data-toggle="buttons">
                            <label class="btn btn-primary">
                              <input type="radio" name="options" id="option1"> Existing Partner
                            </label>
                            <label class="btn btn-primary">
                              <input type="radio" name="options" id="option2"> New Partner
                            </label>
                          </div> -->

                          <div class="form-group">
                            Existing Partner?
                            Yes <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck">
                            No <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck"> 
                            <br>
                            <div id="ifYes" style="display:none">
                              <div class="form-group">
<!--                                 <br>
                                <%= select_tag "", options_from_collection_for_select(Partner.all, :id, :partner_name), :onChange => "{alert('Minisection has been changed to x !')}" %>
                                <select class="form-control">
                                  <%= select_tag(:option, options_for_select([['All', 1], ['Co', 2], ['Bought', 3], ['View', 4], ['Top API', 5]], :selected => params[:option])) %>
                                  <br>
                                </select> 
-->
                                <%= select_tag "", options_from_collection_for_select(Partner.all, :id, :partner_name), :onChange => "showPartnerInfo()" %>

                              </div>
                              <div id="partnerInfo" style="display:none">
                                <div class="form-group">
                                    test
                                </div>
                              </div>
                            </div>
                            <div id="ifNo" style="display:none">


                             </div>
                          </div>
                        </div>
                        <!-- /.panel-body -->                            
                      </div>
                      <!-- /.Idea Information Panel -->
                    </div>
                    <!-- Category col-lg-6 -->
                    <div class="col-lg-6">
                      <!-- Category Panel -->
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          Idea Category
                        </div>
                        <div class="panel-body">
                          <div class="form-group">
                              <label>Theme</label>
                              <input class="form-control" placeholder="Idea Theme">
                          </div>
                          <div class="form-group">
                              <label>Idea Date</label>
                              <input class="form-control" placeholder="date" ></date>
                          </div>
                          <div class="form-group">
                              <label>Idea Category</label>
                              <input type="text" class="form-control" value="03-11-2014" id="idea-date"></date>
                          </div>
                        </div>
                        <!-- /.panel-body -->                            
                      </div>
                      <!-- /.Idea Information Panel -->
                    </div>
                    <!-- Information col-lg-6 -->  
                    <div class="col-lg-6">
                      <!-- Actual ideas entry Panel -->
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          Idea Details
                        </div>
                        <div class="panel-body">
                          <%= form_for(@idea) do |f| %>
                            <% if @idea.errors.any? %>
                              <div id="error_explanation">
                                <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

                                <ul>
                                <% @idea.errors.full_messages.each do |msg| %>
                                  <li><%= msg %></li>
                                <% end %>
                                </ul>
                              </div>
                            <% end %>

                            <div class="form-group">
                              <label>Idea Owner</label>
                              <select class="form-control">
                              <%= options_from_collection_for_select(User.all, :id, :first_name) %>
                            </select>
                            </div>
                             <div class="form-group">
                              <%= f.label :summary, "Title" %>
                              <%= f.text_field :summary, :placeholder => "The One-Line summary" %>
                            </div>
                            
                            <div class="form-group">
                              <%= f.label :description %><br>
                              <%= f.text_area :description %>
                            </div>
                            <div class="form-group">
                              <%= f.label :provider_partner_id %><br>
                              <select class="form-control">
                              <%= options_from_collection_for_select(Partner.all, :id, :partner_name) %>
                            </select>
                              <%= f.number_field :provider_partner_id %>
                            </div>
                            <div class="form-group">
                              <%= f.label :receiver_partner_id %><br>
                              <%= f.number_field :receiver_partner_id %>
                            </div>
                            <div class="form-group">
                              <%= f.label :submission_date %><br>
                              <%= f.date_select :submission_date %>
                            </div>
                            <div class="form-group">
                              <%= f.label :last_modified %><br>
                              <%= f.date_select :last_modified %>
                            </div>
                            <div class="form-group">
                              <%= f.label :status_date_change %><br>
                              <%= f.date_select :status_date_change %>
                            </div>
                            <div class="actions">
                              <%= f.submit %>
                            </div>
                          <% end %>
                        </div>
                        </form>
                      </div>
                    </div>

                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                      placeholder
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            <!-- </div> -->
            <!-- /.panel-body -->
        <!-- </div> -->
        <!-- /.panel -->
    <!-- </div> -->
    <!-- /.col-lg-12 -->
<!-- </div> -->
<!-- /.row -->


<script>
  $('#idea-date').datepicker()
</script>

<!-- Script for the selecting radio buttons (to choose a community partner, or new, etc) -->
<script type="text/javascript">

function yesnoCheck() {
    if (document.getElementById('yesCheck').checked) {
        document.getElementById('ifYes').style.display = 'block';
        document.getElementById('ifNo').style.display = 'none';
    }
    else {
        document.getElementById('ifNo').style.display = 'block';
        document.getElementById('ifYes').style.display = 'none';
        
    }

}

</script>


<!-- end script -->


<!-- Script for showing partner info -->
<script type="text/javascript">


//var selected_index = oForm.elements["country"].selectedIndex;
$('select').change(showPartnerInfo);

  function showPartnerInfo() {
    alert("My First JavaScript");
  }
  // if(selected_index > 0)
  // {
  //    document.getElementById('ifYes').style.display = 'block';

  // }
  // else{

  // }
}

</script>

<!-- end script -->


<script>
var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
  $(function() {
    $( "#from" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3,
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3,
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
  });
</script>

