<% if @idea.errors.any? %>
	<div class="alert alert-error alert-dismissable">	
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<div class="panel-heading"><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</div>
				<div class="panel-body">
				<ul>
					<% @idea.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
	</div>
<% end %>

<%= form_for(@idea) do |f| %>
	<div class="row">
		<div class="col-md-12">
			<section class="widget">
				<div class="panel-heading"><i class="fa fa-info"></i> Idea Information</div>
					<div class="panel-body">
					 <div class="form-group">
							<label for="idea_status">Stage of Idea</label>

							<%= f.select(:status_id, options_from_collection_for_select(Status.all, :id, :status, @idea.status_id), {}, { :class => 'form-control' }) %>

						</div>

						<div class="form-group">
								<label for="idea_summary">Idea Name<small> <i class="fa fa-question-circle fa-fw"></i> Short Title. Limited to 40 Characters</small></label>
								<%= f.text_field :summary, class: 'form-control', placeholder: 'Enter a Short Summary (Max 40 Characters)', maxlength: '40' %>
						</div>

						<div class="form-group">
								<%= f.label :description %>
								<%= f.text_area :description, class: 'form-control', :rows => 5, placeholder: 'Full Descriptions' %>
						</div>

						<div class="form-group">
								<%= f.label :keyword_list, "Keywords (separated by commas)" %><br />
								<%= f.text_field :keyword_list, :placeholder => 'Add keywords...', :value => "#{ raw @idea.keyword_list.collect{|u| u }.join ","}" %>
						</div>

						<div class="form-group">

				</div>
			</section>
		</div>
	</div> 

	<div class="row">
		<div class="col-md-6">
			<section class="widget">
				<div class="panel-heading">
					<i class="fa fa-users"></i> Partner Information 
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="control-group">
							<%= f.label :provider_partner_id %>
                <label class="radio-inline">
                    <input type="radio" name="provider_use" id="optionsRadiosInline1" value="provider_partner_form">New
                </label>
                <label class="radio-inline">
                    <input type="radio" name="provider_use" id="optionsRadiosInline2" value="provider_partner_pulldown" checked>Existing
                </label>
            </div>
	                
            <div id="provider_partner_form" class="form-group" style="display: none;  visibility: visible;">
                <div class="form-group">
								  <%= label_tag :partner_name, "Partner Name" %><br>
								  <%= text_field :"provider_partner", :partner_name, :class => 'form-control' %>
								</div>
								<div class="row">
							  	<div class="col-md-6">
								    <h4>Primary Contact</h4>
								    <div class="form-group">
								      <%= label :contact_name, "Contact Name" %><br>
								      <%= text_field :"provider_partner", :contact_name, :class => 'form-control' %>
								    </div>
								    <div class="form-group">
								      <%= label :email, "Email" %><br>
								      <%= email_field :"provider_partner", :email, :class => 'form-control' %>
								    </div>
								    <div class="form-group">
								      <%= label :phone_num, "Phone" %><br>
								      <%= phone_field :"provider_partner", :phone_num, :class => 'form-control' %>
								    </div>
							  	</div>
								  <div class="col-md-6">
								    <h4>Secondary Contact</h4>
								    <div class="form-group">
								      <%= label :contact_name, "Contact Name" %><br>
								      <%= text_field :"provider_partner", :secondary_contact_name, :class => 'form-control' %>
								    </div>
								    <div class="form-group">
								      <%= label :email, "Email" %><br>
								      <%= text_field :"provider_partner", :secondary_email, :class => 'form-control' %>
								    </div>
								    <div class="form-group">
								      <%= label :phone_num, "Phone" %><br>
								      <%= text_field :"provider_partner", :secondary_phone_num, :class => 'form-control' %>
								    </div>
								  </div>
								</div>
            </div>
            <div id="provider_partner_pulldown" class="form-group">
            	<%= "My name is:" %>
							<%= f.select(:provider_partner_id, options_from_collection_for_select(Partner.all, :id, :partner_name, (@idea.provider_partner_id) ), {}, { :placeholder => "Select Partner...", :class => 'form-control'}) %>
            </div> 
          </div>
          <div class="form-group">
						<div class="control-group">
							<%= f.label :receiver_partner_id %>
              <label class="radio-inline">
                  <input type="radio" name="receiver_use" id="optionsRadiosInline1" value="receiver_partner_form">New
              </label>
              <label class="radio-inline">
                  <input type="radio" name="receiver_use" id="optionsRadiosInline2" value="receiver_partner_pulldown" checked>Existing
              </label>
            </div>
            <div id="receiver_partner_form" class="form-group" style="display: none; visibility: visible;">
		          <div class="form-group">
							  <%= label_tag :partner_name, "Partner Name" %><br>
							  <%= text_field :"receiver_partner", :partner_name, :class => 'form-control' %>
							</div>
							<div class="row">
							  <div class="col-md-6">
							    <h4>Primary Contact</h4>
							    <div class="form-group">
							      <%= label :contact_name, "Contact Name" %><br>
							      <%= text_field :"receiver_partner", :contact_name, :class => 'form-control' %>
							    </div>
							    <div class="form-group">
							      <%= label :email, "Email" %><br>
							      <%= email_field :"receiver_partner", :email, :class => 'form-control' %>
							    </div>
							    <div class="form-group">
							      <%= label :phone_num, "Phone" %><br>
							      <%= phone_field :"receiver_partner", :phone_num, :class => 'form-control' %>
							    </div>
							  </div>
							  <div class="col-md-6">
							    <h4>Secondary Contact</h4>
							    <div class="form-group">
							      <%= label :contact_name, "Contact Name" %><br>
							      <%= text_field :"receiver_partner", :secondary_contact_name, :class => 'form-control' %>
							    </div>
							    <div class="form-group">
							      <%= label :email, "Email" %><br>
							      <%= text_field :"receiver_partner", :secondary_email, :class => 'form-control' %>
							    </div>
							    <div class="form-group">
							      <%= label :phone_num, "Phone" %><br>
							      <%= text_field :"receiver_partner", :secondary_phone_num, :class => 'form-control' %>
							    </div>
							  </div>
							</div>
            </div>
            <div id="receiver_partner_pulldown" class="form-group">
							<%= f.select(:receiver_partner_id, options_from_collection_for_select(Partner.all, :id, :partner_name, @idea.receiver_partner_id), {}, { :placeholder => "Select Partner...", :class => 'form-control'}) %>
            </div> 
          </div>
        </div>
			</section>
		</div>
		<div class="col-md-6">
			<section class="widget">
				<div class="panel-heading"><i class="fa fa-user"></i> Staff Information</div>
				<div class="panel-body">
					<div class="form-group" >
						<% if @idea.owner_id %>
							<label for="idea_user_id">Idea Owner</label>
							<input class="form-control" type="text" placeholder="<%= @idea.owner.first_name %>" <%= (@idea.owner_id == current_user.id or current_user.admin) ? "" : "disabled" %> />
						<% end %>
						<input class="form-control" id="idea_user_id" name="idea[user_id]" type="hidden" value="<%= current_user.id %>" style="margin:0;padding:0;display:inline">
					</div>

					<div class="form-group">
						<%= f.label :participants %><br>
						<%= f.text_field :participants, :value => "#{(@idea.participants.where(:is_active => 1).collect {|u| u.user.email} << current_user.email).join ","}" %>	
						<div><i class="fa fa-question-circle fa-fw"></i> You can add other staff as participants to promote discussion.</div>
					</div>
				</div>
			</section>
		</div> 
	</div>

	<div class="row">
		<div class="col-md-12">
			<section class="widget">
				<div class="panel-heading">
					<i class="fa fa-link"></i> Idea Relationships
					<small>[Connect the ideas]</small>
				</div>
				<div class="panel-body">
					<% if @idea.id.nil? #new idea, may have peer/parent id%>
						<% if @parent_idea_id %>
							<% parent_ideas = @parent_idea_id %>
						<% end %>
						<% if @peer_idea_ids %>
							<% peer_ideas = @peer_idea_ids %>
						<% end %>
					<% else %>
						<% parent_ideas = @idea.parent_ideas_ids.join "," %>
						<% child_ideas = @idea.child_ideas_ids.join "," %>
						<% peer_ideas = @idea.peer_ideas_ids.join "," %>
					<% end %>

					<div class="form-group">
						<label for="idea_association_parents">The Parent Idea<small> <i class="fa fa-question-circle fa-fw"></i> Link this idea to the bigger goal.</small></label><br>
						<%= f.text_field :association_parents, :value => parent_ideas %>
					</div>

					<div class="form-group">
						<label for="idea_association_childs">The Child Ideas<small> <i class="fa fa-question-circle fa-fw"></i> Add the child ideas to this idea. </small></label></br>
						<%= f.text_field :association_childs, :value => child_ideas %>
					</div>

					<div class="form-group">
						<label for="idea_association_peers">Similiar Ideas<small> <i class="fa fa-question-circle fa-fw"></i> Link this idea to other similar idea or eventually merge them together.</small></label><br>
						<%= f.text_field :association_peers, :value => peer_ideas %>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<section class="widget">
				<div class="panel-heading">
					<i class="fa fa-tags"></i> Categories <small>[<kbd>cmd</kbd> or <kbd>ctrl</kbd> + <kbd>click</kbd> to select multiple from selected fields]</small>
				</div>
				<div class="panel-body">
				 <%= render :partial => "category_utils/category_form", :locals => {:idea_id => @idea.id, :categories => @categories} %> <!-- TODO: this needs to be joined better with the way idea is created -->

				</div>
			</section>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<section class="widget">
				<div class="panel-body">
					<div class="actions pull-right">
						<%= f.submit "Submit", :class => 'btn btn-primary' %>
						<%= link_to "Cancel", @idea, :class => 'btn btn-default' %>
					</div>
				</div>
			</section>
		</div>
	</div>

<% end %>

<script>

    $('#provider_partner_form', '#receiver_partner_form').hide();

    $("[name=provider_use]").each(function(i) {
        $(this).change(function(){
            $('#provider_partner_form, #provider_partner_pulldown').hide();
            divId = $(this).val();
            $("#"+divId).show('slow');
        });
    });

    $("[name=receiver_use]").each(function(i) {
        $(this).change(function(){
            $('#receiver_partner_form, #receiver_partner_pulldown').hide();
            divId = $(this).val();
            $("#"+divId).show('slow');
        });
    });
	// Idea Associations
	var ideas_options = <%= raw @idea_selections %>;

	$('#idea_association_parents, #idea_association_childs, #idea_association_peers').selectize({
		plugins: ['remove_button'],
		delimiter: ',',
		persist: false,

		maxItems: null,
		valueField: 'id',
		labelField: 'summary',
		searchField: ['summary', 'id'],
		options:  ideas_options,
		preload: true,
		render: {
			item: function(item, escape) {
				return '<div>' +
						(item.summary ? '<span class="name selectize">' + escape(item.summary) + ' </span>' : '') +
				'</div>';
			},
			option: function(item, escape) {
				var label = item.summary || item.id;
				var caption = item.summary ? item.id : null;
				return '<div>' +
						'<span class="name selectize">' + escape(label) + ' </span>' +
				'</div>';
			}
		},
		create: false
	});

	//  Keyword Tag Text Box
	var keywords_options = <%= raw @keywords %>;
	$('#idea_keyword_list').selectize({
		plugins: ['remove_button'],
		delimiter: ',',
		valueField: 'name',
		searchField: ['name'],
		options: keywords_options,
		preload: true,
		render: {
			item: function(item, escape) {
				return '<div>' +
						(item.name ? '<span class="name selectize">' + escape(item.name) + ' </span>' : '') +
				'</div>';
			},
			option: function(item, escape) {
				var label = item.name;
				return '<div>' +
						'<span class="name selectize">' + escape(label) + ' </span>' +
				'</div>';
			}
		},
		create: function(input) {
			return {name: input};
		}
	});

	// Idea Partner Pull Down
	$('#idea_provider_partner_id, #idea_receiver_partner_id').selectize({
		sortField: 'text',
	});

	// Participant text box Javascript
	var participants_options = <%= raw @participants %>;
	$('#idea_participants').selectize({
		plugins: ['remove_button'],
		delimiter: ',',
		persist: false,
		maxItems: null,
		valueField: 'email',
		labelField: 'name',
		searchField: ['name', 'email'],
		options:  participants_options,
		preload: true,
		render: {
			item: function(item, escape) {
				return '<div>' +
						(item.name ? '<span class="name selectize">' + escape(item.name) + ' </span>' : '') +
						(item.email ? '<span class="email caption selectize">' + escape(item.email) + '</span>' : '') +
				'</div>';
			},
			option: function(item, escape) {
				var label = item.name || item.email;
				var caption = item.name ? item.email : null;
				return '<div>' +
						'<span class="name selectize">' + escape(label) + ' </span>' +
						(caption ? '<span class="caption selectize">' + escape(caption) + '</span>' : '') +
				'</div>';
			}
		},
		create: false
	});
</script>
