  <thead>
    <tr>
      <th>Summary</th>
      <th>Description</th>
      <th>Submission date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @my_ideas.each do |idea| %>
    <tr onclick="document.location = '/ideas/<%=idea.id%>';">
      <td><%= idea.summary %></td>
      <td><%= truncate(idea.description, length:70) %></td>
      <td><%= idea.created_at.in_time_zone('Pacific Time (US & Canada)').to_s(:long) %></td>
      <td><%= link_to 'Show', idea %></td>
    </tr>
    <% end %>
  </tbody>

