  <thead>
    <tr>
      <th>Summary</th>
      <th>Description</th>
      <th>Last Update</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribed_ideas.each do |idea| %>
    <tr>
      <td><%= link_to idea.summary, idea_path(idea) %></td>
      <td><%= truncate(idea.description, length:70) %></td>
      <td><abbr title="<%= idea.updated_at.in_time_zone('Pacific Time (US & Canada)').to_s(:long) %>" ><%= time_ago_in_words(idea.updated_at) %> ago</abbr></td>
      <td><%= link_to 'Show', idea %></td>
    </tr>
    <% end %>
  </tbody>

