<h1 class="page-header">Ideas <small>- <%= @idea.summary %></small></h1> 
<h5 class="widget">
    <%= link_to '<i class="fa fa-plus"> </i> Create a Sub Idea'.html_safe , new_idea_path(:parent_idea_id => @idea.id, :peer_idea_ids => (@idea.child_ideas_ids.join ", "))  %> | 
    <%= link_to '<i class="fa fa-pencil"></i> Edit Idea'.html_safe, edit_idea_path(@idea) %> |

    <%= link_to '<i class="fa fa-reply"></i> Back'.html_safe, ideas_path %> | 
    <a href="#share"><i class="fa fa-share-square-o"></i> Share</a> |
    <% if @idea.status.to_s == "Archived" %>
      <%= link_to(
          "Move to Active Development",
          {:controller => "ideas/#{@idea.id}", :idea => {:status_id => (Status.find_by status: "Active Development").id}},
          {:method => :put}
      ) %>
    <% else %>
      <%= link_to(
          "Archive This",
          {:controller => "ideas/#{@idea.id}", :idea => {:status_id => (Status.find_by status: "Archived").id}},
          {:method => :put}
      ) %>
    <% end %>

</h5>

<div class="row">
  <div class="col-md-12">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-info"></i> Idea Information
        </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
        

          <dt>Stage:</dt>
          <dd><%= @idea.status %></dd>

        
          <dt>Summary:</dt>
          <dd><%= @idea.summary %></dd>
        
          <dt>Description:</dt>
          <dd><%= @idea.description %></dd>
        
          <dt>Keywords:</dt>

          <dd><%= raw @idea.keyword_list.map {|k| link_to k, keyword_path(k) }.join(', ') %></dd>

        </br>
          <small>
          <dt>Submission date:</dt>
          <dd><%= @idea.created_at.in_time_zone('Pacific Time (US & Canada)').to_s(:long) %></dd> 

          <dt>Last modified:</dt> 
          <dd><%= @idea.updated_at.in_time_zone('Pacific Time (US & Canada)').to_s(:long) %></dd>

          <dt>Status updated at:</dt> 
          <dd><%= @idea.status_date_change.in_time_zone('Pacific Time (US & Canada)').to_s(:long) %></dd>

        </small>
      </dl>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-users"></i> Partner Information</div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Provider:</dt>
          <dd><%= @provider %></dd>

          <dt>Receiver:</dt>
          <dd><%= @receiver %></dd>
        </dl>
      </div>
    </section>
  </div>
  <div class="col-md-6">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-user"></i> Staff Information</div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Creator:</dt>
          <dd>
            <%= @idea.user %>
          </dd>
          <dt>Owner:</dt>
          <dd> 
            <%= @idea.owner %>
          </dd>
          <dt>Participants:</dt>
          <dd>
            <form id="participant_form">
              <div class="form-group">
                <input id="idea_participants" name="idea[participants]" type="text" value="<%= @idea.participants.where(:is_active => 1).collect {|u| u.user.email}.join "," %>">
              </div>
            </form>
          </dd>
        </dl>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-cog"></i> Options</div>

      <div class="panel-body">
        <table>
          <%= render :partial => "category_utils/idea_category_tags_display", :locals => { :categories => @categories, :idea_id => @idea.id } %>
        </table>
      </div>
    </section>
  </div>
  <div class="col-md-6">
    <section class="widget">
      <div class="panel-heading">
        <i class="fa fa-link"></i> Idea Relationships
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Parent:</dt><dd><%= raw @idea.parent_ideas_ids.collect{|u| link_to Idea.find(u).summary, id: u}.join ", "  %></dd>
          <dt>Child:</dt><dd><%= raw @idea.child_ideas_ids.collect{|u| link_to Idea.find(u).summary, id: u}.join ", " %></dd>
          <dt>Similar:</dt><dd><%= raw @idea.peer_ideas_ids.collect{|u| link_to Idea.find(u).summary, id: u}.join ", " %></dd>
        </dl>
      </div>
    </section>
  </div>

  <div id="share" class="col-md-6">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-share-square-o"></i> Share</div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><i class="fa fa-envelope"></i> Send Idea via Email</dt> <dd><%= render 'email' %></dd>
          <br>
          <%= render 'export' %>
        </dl>
      </div>
    </section>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-users"></i> Staff Discussion</div>
      <div class="panel-body">
        <%= commontator_thread(@idea) %>
      </div>
    </section>
  </div>
</div>
<br><br>



<script>

  var participants_options = <%= raw @participants %>;

  var REGEX_EMAIL = '([a-z0-9!#$%&\'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+/=?^_`{|}~-]+)*@' +
                    '(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)';
  
  $('#idea_participants').selectize({
    plugins: ['remove_button'],
    delimiter: ',',
    persist: false,
    maxItems: null,
    valueField: 'email',
    labelField: 'name',
    searchField: ['name', 'email'],
    options:  participants_options,
    preload: true,
    render: {
      item: function(item, escape) {
        return '<div>' +
            (item.name ? '<span class="name selectize">' + escape(item.name) + ' </span>' : '') +
        '</div>';
      },
      option: function(item, escape) {
        var label = item.name || item.email;
        var caption = item.name ? item.email : null;
        return '<div>' +
            '<span class="name selectize">' + escape(label) + ' </span>' +
            (caption ? '<span class="caption selectize">' + escape(caption) + '</span>' : '') +
        '</div>';
      }
    },
    create: function(input) {
      return false;
    }
  });

  selectize_participants.on('change', function(v){
    $.ajax({
      type: 'PUT',
      url:  '/ideas/<%=@idea.id%>',
      data: $('#participant_form').serializeArray(),
      dataType: "JSON",
      success: function(data) {
          console.log(data);
      }
    });
  });
  

</script>

