<div id="page-wrapper">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @idea.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @provider %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @receiver %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @idea.keyword_list %>
</p>

<p>
  <strong>Submission date:</strong>
  <%= @idea.submission_date %>
</p>

<p>
  <strong>Last modified:</strong>
  <%= @idea.last_modified %>
</p>

<p>
  <strong>Status:</strong>
  <%= @status.status %>
</p>

<div>
  <table>
    <%= render :partial => "category_utils/idea_category_tags_display", :locals => { :categories => @categories, :idea_id => @idea.id } %>
  </table>
</div>
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
</br>
</br>
<%= render 'email' %>
</div>