<h1 class="page-header">Ideas <small>- <%= @idea.summary %></small></h1>

<div class="row">
  <div class="col-md-12">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-info"></i> Idea Information</div>
      <div class="panel-body">
        <p>
          <strong>Status:</strong>
          <%= Status.find(@idea.status).status %>
        </p>
        <p>
          <strong>Summary:</strong>
          <%= @idea.summary %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @idea.description %>
        </p>
        <p>
          <strong>Keywords:</strong>
          <%= @idea.keyword_list %>
        </p>

        <p> Submission date:  <%= @idea.created_at.in_time_zone('Pacific Time (US & Canada)').to_s(:long) %> | Last modified: <%= @idea.updated_at.in_time_zone('Pacific Time (US & Canada)').to_s(:long) %> </p>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-users"></i> Partner Information</div>
      <div class="panel-body">
        <p>
          <strong>Provider:</strong>
          <%= @provider %>
        </p>

        <p>
          <strong>Receiver:</strong>
          <%= @receiver %>
        </p>
      </div>
    </section>
  </div>
  <div class="col-md-6">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-user"></i> Staff Information</div>
      <div class="panel-body">
        <p>
          <strong>Creator:</strong>
          <%= @idea.user.first_name+" "+@idea.user.last_name %>
        </p>
        <p>
          <strong>Owner:</strong>
          <%= @idea.owner.first_name+" "+@idea.owner.last_name %>
        </p>
        <p>
          <strong>Participants:</strong><br />
          <%= raw @idea.participants.where(:is_active => 1).collect {|u| u.user.first_name + " "+ u.user.last_name}.join ', ' %>
        </p>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-cog"></i> Options</div>

      <div class="panel-body">
        <table>
          <%= render :partial => "category_utils/idea_category_tags_display", :locals => { :categories => @categories, :idea_id => @idea.id } %>
        </table>
      </div>
    </section>
  </div>
  <div class="col-md-6">
    <section class="widget">
      <div class="panel-heading">
        <i class="fa fa-link"></i> Idea Associations
      </div>
      <div class="panel-body">
        <p>
          Parents: <%= raw @idea.parent_ideas_ids.collect{|u| link_to u, id: u}.join ", "  %><br />
          Childs: <%= raw @idea.child_ideas_ids.collect{|u| link_to u, id: u}.join ", " %><br />
          Peers: <%= raw @idea.peer_ideas_ids.collect{|u| link_to u, id: u}.join ", " %>
        </p>

      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <section class="widget">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <i class="fa fa-envelope"></i> Send idea <%= render 'email' %>
      </br>
        <%= link_to 'Create Sub Idea', new_idea_path(:parent_idea_id => @idea.id, :peer_idea_ids => (@idea.child_ideas_ids.join ", ") ) %> |
        <%= link_to 'Edit', edit_idea_path(@idea) %> |
        <%= link_to 'Back', ideas_path %>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <section class="widget">
      <div class="panel-heading"><i class="fa fa-users"></i> Staff Discussion</div>
      <div class="panel-body">
        <%= commontator_thread(@idea) %>
      </div>
    </section>
  </div>
</div>
<br><br>





