<div id="page-wrapper">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @idea.id %> - <%= @idea.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @provider %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @receiver %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @idea.keyword_list %>
</p>

<p>
  <strong>Submission date:</strong>
  <%= @idea.submission_date %>
</p>

<p>
  <strong>Last modified:</strong>
  <%= @idea.last_modified %>
</p>

<p>
  <strong>Status:</strong>
  <%= @idea.status %>
</p>

<p>
  <strong>Associations</strong><br />
  Parents: <%= raw @idea.parent_ideas.where(:is_hierarchy => 1).collect {|u| link_to u.parent_idea_id, id: u.parent_idea_id}.join ', ' %><br />
  Childs: <%= raw @idea.child_ideas.where(:is_hierarchy => 1).collect {|u| link_to u.tagged_idea_id, id: u.parent_idea_id}.join ', ' %><br />
  Peers: <%= raw @idea.child_ideas.where(:is_hierarchy => 0).collect {|u| link_to u.tagged_idea_id, id: u.parent_idea_id}.join ', ' %>
</p>

</p>

<div>
  <table>
    <%= render :partial => "category_utils/idea_category_tags_display", :locals => { :categories => @categories, :idea_id => @idea.id } %>
  </table>
</div>
<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
</br>
</br>
<%= render 'email' %>
<%= commontator_thread(@idea) %>
</div>