<div id="page-wrapper">

	<div class="admin index">
		<h1>Manage Categories</h1>

		<table>
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Display</th>
				<th>Action</th>
			</thead>
			<% if @categories %>
			<% @categories.each do |category| %>
			<tr>
				<td><%= category.category_name %></td>
				<td></td> <!-- add category.description -->
				<td>
					<% if category.type_id == 2 #TODO: change to compare with type (String) later %>
					<%= render :partial => "category_utils/dropdown_single_display", :locals => { :category_tags => category.children, :category_name => category.category_name.gsub(/[^0-9a-z]/i, '') } %>
					<% elsif category.type_id == 3 #TODO: same as above%>
					<%= render :partial => "category_utils/scroll_multi_select_display", :locals => { :category_tags => category.children, :category_name => category.category_name.gsub(/[^0-9a-z]/i, '') } %>
					<% elsif category.type_id == 4 #TODO: same as above%>
					<%= render :partial => "category_utils/check_box_multi_select_display", :locals => { :category_tags => category.children, :category_name => category.category_name.gsub(/[^0-9a-z]/i, '') } %>
					<% else %>
					<% category.children.each do |tag| %>
					<li><%= tag.category_name%></li>
					<% end %>
					<% end %>
				</td>
				<td>
					<%= link_to 'Edit', edit_category_path(category) %>
					<%= link_to 'Remove', category, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
			<% end %>
			<% end %>
		</table>
	</div>

	<%= link_to 'Add New Category', new_category_path %>
</div>