<h1 class="page-heading">Categories</h1>
<section class="widget">
<div class="panel-heading"><i class="fa fa-tags"> Manage Categories</i></div>
	<div class="panel-body">

	<%= link_to 'Add New Category', new_category_path %>
	<table class="table">
		<thead>
			<th>Name</th>
			<th>Description</th>
			<th>Display</th>
			<th></th>
		</thead>
		<% if @categories %>
		<% @categories.each do |category| %>
		<tr>
			<td><%= category.category_name %></td>
			<td><%= category.description %></td>
			<td>
				<% if category.type_id == 2 #TODO: change to compare with type (String) later %>
				<%= render :partial => "category_utils/dropdown_single_display", :locals => { :category_tags => category.children, :category_name => category.category_name.gsub(/[^0-9a-z]/i, '') } %>
				<% elsif category.type_id == 3 #TODO: same as above%>
				<%= render :partial => "category_utils/scroll_multi_select_display", :locals => { :category_tags => category.children, :category_name => category.category_name.gsub(/[^0-9a-z]/i, '') } %>
				<% elsif category.type_id == 4 #TODO: same as above%>
				<%= render :partial => "category_utils/check_box_multi_select_display", :locals => { :category_tags => category.children, :category_name => category.category_name.gsub(/[^0-9a-z]/i, '') } %>
				<% else %>
				<% category.children.each do |tag| %>
				<li><%= tag.category_name%></li>
				<% end %>
				<% end %>
			</td>
			<td>
      	<%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_category_path(category), title: 'Edit', ref: 'tooltip' %> | 
        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, category, method: :delete, data: {confirm: 'Are you sure?' } %>
			</td>
		</tr>
		<% end %>
		<% end %>
	</table>

</div>
</section>

