<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Idea Tracker</h2>
    <p>
      <%= @user %> commented on <a href="http://it.henrychsiao.com/ideas/<%= @idea.id%>"><%= @idea.summary %></a>, an idea that you are subscribed to.
    </br>
      <%= @user.first_name %> wrote: "<%=@comment%>"
    </p>
  </body>
</html>