<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> Idea Tracker </h2>
    <h3>
      <%= @user %> has made edited an <a href="http://it.henrychsiao.com/ideas/<%= @idea.id%>"><%= @idea.summary %></a> you are subscribed to.
    </h3>
<!--       <p>
      Project: <%= @idea.summary %> </br>
      Description: <%= @idea.description%>  </br>
    </p> -->
  </body>
</html>