
<h1 class="page-header"> Chart </h1>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br><br>
<%= debug(@sql2) %>
<% xkey = @result.collect{|u| u[1]}.uniq %>
<% ykeys = @result.collect{|u| u[2]}.uniq %>
<%= debug(xkey) %> <br />
<%= debug(ykeys) %> <br />

<script>
  $(function () {
    

    <% if @chart_type.casecmp("bar") == 0 %>
      Morris.Bar({
        element: 'container',
        data: [
          <%= raw xkey.collect{
            |u| 
            "{x:'#{u}'," + 
            (ykeys.collect{
              |v|
              "#{v}: #{@result.detect{|r| r[1]==u and r[2]==v}.nil? ? 1 : @result.detect{|r| r[1]==u and r[2]==v}[0]},"
            }.join) + 
            "},"
          }.join %> 
        ],
        xkey: 'x',
        ykeys: [<%=ykeys.join ","%>],
        labels: ['Series A', 'Series B']
      });
      
    <% elsif @chart_type.casecmp("line") == 0 %>
    <% elsif @chart_type.casecmp("pie") == 0 %>
      new Morris.Donut({
        element: 'container',
        data:
        [
          <%= raw @result.collect{|row| "{label: '#{row[1]}', value: '#{row[0]}'},"}.join %>
        ]
      });
    <% elsif @chart_type.casecmp("table") == 0 %>
    <% end %>


  });
    

  

</script>

