<h1 class="page-header">Reports</h1>

<h5 class="widget">
    <%= link_to '<i class="fa fa-reply"></i> Back'.html_safe, {:action => 'popularity'} %> 
</h5>

<section class="widget">
	<div class="panel-heading"><i class="fa fa-bar-chart-o"></i> Popularity Report</div>
	  
	<div class="panel-body">

		<table class="table table-hover dataTable" summary="Category List">
		  <thead>
			<tr>
			  <th><%= @category.category_name %></th>
			  <th>Number of ideas</th>
			</tr>
		  </thead>
		  
		  <tbody>
			<% index = 0 %>
			<% @category_children.each do |category| %>
			  <tr onclick="document.location = '/reports/popularity_show_ideas/<%=category.id%>';">
				<td><%= category.category_name %></td>
				<td><%= @idea_counter_array[index] %></td>
			  </tr>
			  <% index += 1 %>
			<% end %>
		  </tbody>
		</table>
	</div>

<div id="line_graph" style="height: 500px;"></div>
</section>

<script>
  $(function () {
      new Morris.Bar({
        element: 'line_graph',
        data:[
		<% index = 0 %>
        <% @category_children.each do |category| %>
            {cat_name: "<%= category.category_name %>", count: <%= @idea_counter_array[index] %> },
			<% index += 1 %>
        <% end %>
        ],
        xkey: 'cat_name',
        ykeys: ['count'],
        labels: ['Total'],
        xLabels: ['categories'],
        resize: true,
        gridTextColor: '#FFF',
        gridTextFamily: '"Open Sans", sans-serif'
      });

  });
</script>

