<h1 class="page-header">Reports</h1>

<h5 class="widget">
    <%= link_to '<i class="fa fa-reply"></i> Back'.html_safe, {:action => 'popularity'} %> 
</h5>

<section class="widget">
	<div class="panel-heading"><i class="fa fa-bar-chart-o"></i> Popularity Report</div>
	  
	<div class="panel-body">

		<table class="table table-hover dataTable" summary="Category List">
		  <thead>
			<tr>
			  <th><%= @category.category_name %></th>
			  <th>Number of ideas</th>
			</tr>
		  </thead>
		  
		  <tbody>
			<% index = 0 %>
			<% @category_children.each do |category| %>
			  <tr onclick="document.location = '/reports/popularity_show_ideas/<%=category.id%>';">
				<td><%= category.category_name %></td>
				<td><%= @idea_counter_array[index] %></td>
			  </tr>
			  <% index += 1 %>
			<% end %>
		  </tbody>
		</table>
	</div>
	
	<div id="piechart_3d" style="width: 900px; height: 500px;"></div>

	
</section>
  


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
		  ["<%= @category.category_name %>", 'Number of Ideas'],
		  
			<% index = 0 %>
			<% @category_children.each do |category| %>
			  ["<%= category.category_name %>" , <%= @idea_counter_array[index] %>],
			  <% index += 1 %>
			<% end %>
		]);

		var options = {
		  title: "<%= @category.category_name %>",
		  is3D: true,
		};

		var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
		chart.draw(data, options);
	}
</script>
