<h1 class="page-header">Reports</h1>

<section class="widget">
  <div class="panel-heading"><i class="fa fa-bar-chart-o"></i> Stage Report</div>
    
  <div class="panel-body">

    <table class="table table-hover dataTable" summary="User list">
      <thead>
        <tr>
          <th>Status</th>
          <th>Number of Ideas</th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
		<% index = 0 %>
        <% @status.each do |status| %>
          <tr onclick="document.location = '/reports/status_show/<%=status.id%>';">
            <td><%= status.status %></td>
    		<td>
    		<%= @counter_array.at(index) %>
    		</td>
            <% index += 1 %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" >
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
	var data = google.visualization.arrayToDataTable([
	  ['Status', 'Number of Ideas'],
		<% index = 0 %>
        <% @status.each do |status| %>
			["<%= status.status %>", <%= @counter_array.at(index) %>],
            <% index += 1 %>
        <% end %>
	]);

	var options = {
	  title: 'Status',
	  is3D: true,
	};

	var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
	chart.draw(data, options);
}
</script>

<div id="piechart_3d" style="width: 700px; height: 500px;"></div>
</section>




