<h1 class="page-header">Reports</h1>

<section class="widget">
	<div class="panel-heading"><i class="fa fa-bar-chart-o"></i> Success Rate Report</div>
	  
	<div class="panel-body">

<table class="table table-hover dataTable" summary="User list">
	<thead>
		<tr class="header">
		  <th>Name</th>
		  <th>Email</th>
		  <th>Success Rate</th>
		</tr>
	</thead>
	
	<tbody>
		<% if @users %>
			<% index = 0 %>
			<% @users.each do |user| %>
			<tr onclick="document.location = '/reports/success_rate_show/<%=user.id%>';">
			  <td><%= user %></td>
			  <td><%= user.email %></td>
			  <td>
				<%= @success_rate_array.at(index) %>%
				<% index += 1 %>
			  </td>
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<div id="chart_div" style="width: 700px; height: 500px;"></div>
</section>

<script>
  $(function () {
      new Morris.Bar({
        element: 'chart_div',
        data:[
		<% index = 0 %>
		<% @users.each do |user| %>
            {user: "<%= user %>", rate: <%= @success_rate_array.at(index) %> },
			<% index += 1 %>
        <% end %>
        ],
        xkey: 'user',
        ykeys: ['rate'],
        labels: ['Total'],
        xLabels: ['users'],
        resize: true,
        gridTextColor: '#FFF',
        gridTextFamily: '"Open Sans", sans-serif'
      });

  });
</script>
